<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="RunTime" value="1" />
    <add key="DatabaseAddress" value="192.168.56.2" />
    <add key="DatabaseName" value="xj" />
    <add key="DatabaseUser" value="sa" />
    <add key="DatabasePassword" value="123.com" />
    <add key="LocalKeeyDay" value="0" />
    <add key="YunKeepDay" value="" />
    <add key="YunSavePath" value="" />
    <add key="LocalSavePath" value="E:\Debug\Backup" />
    <add key="LastBackupTime" value="" />
    <add key="SqlType" value="Sql2008" />
    <add key="BackupTime" value="12" />
    <add key="FangyouVer" value="12.7.7"/>
    <add key="FangyouClient" value="成都先居地产经纪有限公司总部" />
    <add key="localKeepDay" value="1" />
  </appSettings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="logs/app_log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d %p %m%n" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>