<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="RunTime" value=""/>
    <add key="DatabaseAddress" value=""/>
    <add key="DatabaseName" value=""/>
    <add key="DatabaseUser" value=""/>
    <add key="DatabasePassword" value=""/>
    <add key="LocalKeeyDay" value=""/>
    <add key="YunKeepDay" value=""/>
    <add key="YunSavePath" value=""/>
    <add key="LocalSavePath" value=""/>
    <add key="LastBackupTime" value=""/>
    <add key ="SqlType" value =""/>
    <add key ="BackupTime" value =""/>
    <add key="FangyouVer"></add>
    <add key="FangyouClient"/>
  </appSettings>
  <log4net>
       <appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="logs/app_log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d %p %m%n" />
      </layout>
    </appender>
    
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
    
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
